
body{
background-image: url(fond.png);
    font-size: 1em;
    font-family:"Open Sans";
margin: 0 auto;
    
    
}

nav{
    background-color: #25b3b4;
    border-top: 3px solid rgb(41, 129, 99);
    border-bottom:3px solid rgb(41, 129, 99) ;
    text-align: center;
    color: white;
    font-family: "Slabo 27px";
    text-transform: capitalize;
    padding: 5px;
    margin-top: 30px;position: relative;
    height: 180px;
}
.logo{
    text-align: center;
    position: absolute;
    top: 0;
    border-radius: 0%;
    left: 500px;
}
ul li {
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    font-size: 1.5em;
    margin-bottom: 5px;
    padding-top: 0;
    margin-top: 120px;
}
.title{
    font-size: 2.5em;
    margin-top: 5px;
    padding-top: 0;

}
.div1{
    text-align: center;
    width: 900px;
    margin: 0 auto;
    
}
.welcome{
    font-size: 2.5em;
}
.welcometext{
    font-size: 1em;
    padding-bottom: 15px;
    text-align: inherit;
}
.centre{
    width: 1100px;
    text-align: center;
    margin: 0 auto;
}
.div2{
    width: 65%;
    height: 1000px;
    background-color: #b7ebe9;
    padding: 5px;
    float: left;
}
span{
    color: #25b3b4;
}
.div2t{
    font-size: 3.5em;
}
.menu h2{
    font-size: 1.8em;
    
}
.menu{
    position: relative;
}
.menu1{
    width: 45%;
    text-align: justify;
    padding: 5px;
    line-height: 25px;

    
}
.menu1 h2{
    text-align: center;
}
.menu2 h2{
    text-align: center;
}
.menu2{
    text-align: justify;
    padding: 15px;
    position: absolute;
    width: 45%;
    right: 0;
    top: -15px;
    line-height: 25px;
}
button{
    background-color: #25b3b4;
    color: white;
    border: none;
    padding: 5px;
    float: right;
}
img{
    border-radius: 50%;
    float: left;
}
.div3{
    width: 29%;
    height: 900px;
    background-color:#25b3b4 ;
    border: 3px solid rgb(41, 129, 99);
    color: white;
    float: right;
    position: relative;
    padding: 20px;
    
}
.div3 p{
    line-height: 35px;
}
.div3 h3,h4,p{
    text-align: justify;
    
}
.div3 span{
    color: #86c9c6;
}
.vignette{
    position: absolute;
    top: -80px;
    right: -60px;
    transition: 0.3s;
}
.vignette:hover{
    transform: rotate(180deg);
}

footer {
    clear: both;
    text-align: center;
    margin-top: 40px;
    font-size: small;
    width: 75%;
    height: 50%;
    
}
footer img {
   margin: 0 auto;
    width: 40px;
    text-align: center;
    margin-left: 100px;
}
